<h2>Not linked other slide ( not need name ) is independent</h2>
<div class="container py-5">
    <swiper-container navigation="true" slides-per-view="4" space-between="20" #demo1>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
    </swiper-container>
</div>

<!-- DYNAMIC BUTTON  -->
<button (click)="demo1.swiper.slidePrev()" class="swiper_btn"> Back </button>
<button (click)="demo1.swiper.slideNext()" class="swiper_btn prev"> Next </button>


<div class="container py-5">
    <swiper-container navigation="true" slides-per-view="4" space-between="20">
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
        <swiper-slide><img src="https://fakeimg.pl/400x400?text=DUMMY+&font=bebas" alt="icon"></swiper-slide>
    </swiper-container>
</div>