/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 85%;
    margin-inline: auto;
}


.py-5 {
    padding-block: 3rem;
}